
/*
 =========================================================
 * Vue White Dashboard - v1.1.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/vue-white-dashboard
 * Copyright 2022 Creative Tim (http://www.creative-tim.com)

 * Coded by Creative Tim

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

 // Core

@import "white-dashboard/custom/functions";
@import "white-dashboard/bootstrap/functions";

@import "white-dashboard/custom/variables";
@import "white-dashboard/bootstrap/variables";

@import "white-dashboard/custom/mixins";
@import "white-dashboard/bootstrap/mixins";

 // Bootstrap components

@import "white-dashboard/bootstrap/root";
@import "white-dashboard/bootstrap/reboot";
@import "white-dashboard/bootstrap/type";
@import "white-dashboard/bootstrap/images";
@import "white-dashboard/bootstrap/code";
@import "white-dashboard/bootstrap/grid";
@import "white-dashboard/bootstrap/tables";
@import "white-dashboard/bootstrap/forms";
@import "white-dashboard/bootstrap/buttons";
@import "white-dashboard/bootstrap/transitions";
@import "white-dashboard/bootstrap/dropdown";
@import "white-dashboard/bootstrap/button-group";
@import "white-dashboard/bootstrap/input-group";
@import "white-dashboard/bootstrap/custom-forms";
@import "white-dashboard/bootstrap/nav";
@import "white-dashboard/bootstrap/navbar";
@import "white-dashboard/bootstrap/card";
@import "white-dashboard/bootstrap/breadcrumb";
@import "white-dashboard/bootstrap/pagination";
@import "white-dashboard/bootstrap/badge";
@import "white-dashboard/bootstrap/jumbotron";
@import "white-dashboard/bootstrap/alert";
@import "white-dashboard/bootstrap/progress";
@import "white-dashboard/bootstrap/media";
@import "white-dashboard/bootstrap/list-group";
@import "white-dashboard/bootstrap/close";
@import "white-dashboard/bootstrap/modal";
@import "white-dashboard/bootstrap/tooltip";
@import "white-dashboard/bootstrap/popover";
@import "white-dashboard/bootstrap/carousel";
@import "white-dashboard/bootstrap/utilities";
@import "white-dashboard/bootstrap/print";

 // Custom components

 @import "white-dashboard/custom/alerts.scss";
 @import "white-dashboard/custom/buttons.scss";
 @import "white-dashboard/custom/dropdown.scss";
 @import "white-dashboard/custom/footer.scss";
 @import "white-dashboard/custom/forms.scss";
 @import "white-dashboard/custom/images.scss";
 @import "white-dashboard/custom/modal.scss";
 @import "white-dashboard/custom/navbar.scss";
 @import "white-dashboard/custom/type.scss";
 @import "white-dashboard/custom/tables";
 @import "white-dashboard/custom/checkboxes-radio";
 @import "white-dashboard/custom/fixed-plugin";
 @import "white-dashboard/custom/sidebar-and-main-panel.scss";
 @import "white-dashboard/custom/misc.scss";
 @import "white-dashboard/custom/rtl.scss";
 @import "white-dashboard/custom/input-group.scss";


 // Vendor / Plugins

@import "white-dashboard/custom/vendor/plugin-perfect-scrollbar.scss";
@import "white-dashboard/custom/vendor/plugin-animate-bootstrap-notify.scss";

// Cards

@import 'white-dashboard/custom/card';
@import "white-dashboard/custom/cards/card-chart";
@import "white-dashboard/custom/cards/card-map";
@import "white-dashboard/custom/cards/card-user";
@import "white-dashboard/custom/cards/card-task";
@import "white-dashboard/custom/cards/card-plain";
